block append styles
  if styles
    link(rel="stylesheet", href=styles)
  else
    style.
      :root {
        --tags-gutter: 0.5rem;
        --tag-background: #333;
        --tag-color: #fff;
        --tag-hover-background: #f3f3f3;
        --tag-hover-color: var(--tag-background);
        --tag-padding: 0.5rem 0.75rem;
        --tag-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
            Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        --tag-font-size: 0.825rem;
        --tag-line-height: 0.825rem;
        --tag-font-weight: bold;
      }

      .tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
      }

      .tags .tag:not(:only-child):not(:last-child){
        margin-right: var(--tags-gutter);
      }

      .tags .tag {
        font-family: var(--tag-font-family);
        cursor: pointer;
        text-decoration: none;
        display: flex;
        user-select: none;
        align-items: center;
        transition: all 0.3s;
        font-weight: var(--tag-font-weight);
        font-size: var(--tag-font-size);
        line-height: var(--tag-line-height);
        padding: var(--tag-padding);
        color: var(--tag-color);
        background: var(--tag-background);
        margin-bottom: var(--tags-gutter);
      }

      .tags .tag:hover, .tag.active {
        color: var(--tag-hover-color);
        background: var(--tag-hover-background);
      }

mixin tags(tags)
  .tags
    each item in tags
      +tag(item)

mixin tag(item)
  //- a.tag(href="/tags/" + item.name class=tag ? (item.name === tag.name ? 'active' : '') : '')
  //-   span=item.name
  a.tag(href="?tag=" + item.name class=tag ? (item.name === tag.name ? 'active' : '') : '')
    span=item.name