mixin input(field)
  input.input(name=field.name)&attributes(field.attrs || {})

mixin textarea(field)
  textarea.textarea(name=field.name)&attributes(field.attrs || {})=field.attrs.value

mixin select(field)
  select.select(name=field.name)&attributes(field.attrs || {})
    each option in field.options
      option(value=option.value)=option.label

mixin dynamic-field(field)
  fieldset.field
    .control
      if field.label
        label.label(for=field.name)=field.label
      case field.type
        when 'input'
          +input(field)
        when 'textarea'
          +textarea(field)
        when 'select'
          +select(field)

mixin dynamic-form(attrs, structure)
  form&attributes(attrs)
    each field in structure
      +dynamic-field(field)
    fieldset.field.is-grouped
      .control
        button.button.is-success(type="submit") Save
      .control
        button.button(type="reset") Reset